<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="body" placeholder="Введите сообщение" />
            <input type="text" name="name" placeholder="Имя"/>
            <input type="text" name="secondname" placeholder="Фамилия"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список сообщений</div>
    {{#messages}}
    <div>
        <a>{{timestamp}}: </a>
        <b>{{name}}</b>
        <b>{{secondname}}: </b>
        <span>"{{body}}"</span>
    </div>
    {{/messages}}
</body>
</html>